.contactBlock {
    min-height: 100vh;
}

.contactContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.formContainer {
    border: 1px solid;
    width: 280px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

.sendButton {
    background-color: grey;
    width: 100px;
    height: 30px;
}