@import '../../common/styles/sass/mixins';

.skill {
    @include blockContainer(250px);
    align-items: center;
    text-align: center;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #a4a29b;
}