@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.contactContainer {
  height: 440px;
  margin-top: 30px;
  @include blockContainer(45%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .formContainer {
    width: 80%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textarea,
    .textField {
      font-family: 'Poppins', sans-serif;
      letter-spacing: .5px;
      padding: 12px 20px;
      border-radius: 3px;
      border: none;
      background: #f4f4f6;
      box-shadow: inset 0 1px 4px 0 rgba(15, 15, 20, 0.2);
      box-sizing: border-box;
      outline: none;
      &:-webkit-autofill {
        border: none;
        -webkit-text-fill-color: #1f1f20;
        -webkit-box-shadow: inset 0 1px 4px 0 rgba(15, 15, 20, 0.2);
        transition: background-color 5000s ease-in-out 0s;
        background: #f4f4f6;
        box-shadow: inset 0 1px 4px 0 rgba(15, 15, 20, 0.2);
        box-sizing: border-box;
        outline: none;
        &:focus {
          border: none;
          box-sizing: border-box;
          outline: none;
        }
      }
    }
    .textField {
      width: 100%;
      height: 50px;
    }
    .textarea {
      width: 100%;
      height: 120px;
      display: inline-block;
      resize: none;
    }
  }
  .buttonContainer {
    width: 40%;
  }
  @media screen and (max-width: 660px) {
    width: 90%;
  }

  @media screen and (min-width: 661px) and (max-width: 880px) {
    width: 60%;
  }
}