.mainBlock {
    height: 100vh;
    background-color: #e5a7ff;
    display: flex;
    align-items: center;
}

.about {
    width: 350px;
    background-color: #c084da;
}

.photo {
    width: 350px;
    height: 400px;
    background-color: #b86ee0;
}
