@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.skillsBlock {
    min-height: 100vh;
    background-color: $secondBgColor;
    .skillsContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        .paragraph {
            @include text(18px, 1.5, $headingColor);
            text-align: center;
            margin: 20px 55px;
        }
        .skills {
            width: 100%;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        @media screen and (max-width: 634px) {
            .skills {
                justify-content: center;
            }
        }
    }
}





