.projectBlock {
    width: 500px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(159deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .95) 100%);
    box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
}

.imgContainer {
    background-color: #a4a29b;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.imgLink {
    color: #f44336;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    text-decoration: none;
    margin-top: 15px;
    position: relative;
}

.imgLink::after {
    content: '>';
    color: #f44336;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    left: 70px;
}

.imgLink:hover {
    transition: .5s ease-in-out;
    transform: translateX(10px);
}

.projectDescription {
    padding: 25px 20px;
}

.projectTitle {
    font-size: 17px;
    line-height: 1.2;
    color: #1e1e28;
    display: block;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.description {
    line-height: 1.0;
    color: #5C5C6F;
    margin: 0 0 15px;
}