@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.projectBlock {
    @include blockContainer(400px);
    margin: 20px auto;
    .imgContainer {
        height: 300px;
        @include flexCenter();
        background-size: cover;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    .projectDescription {
        padding: 30px 35px;
        .projectTitle {
            @include text(17px, 1.2, $headingColor);
            @include block(0.6em, 0.6em, 0, 0);
        }
        .description {
            @include text(16px, 1.0, $textColor);
            margin: 0 0 15px;
        }
        .imgLink {
            color: $primaryColor;
            font-weight: 600;
            text-transform: uppercase;
            display: inline-block;
            letter-spacing: 1px;
            text-decoration: none;
            margin-top: 15px;
            position: relative;
            transition: .5s ease-in-out;
            &::after {
                content: '>';
                color: $primaryColor;
                font-weight: 700;
                display: inline-block;
                position: absolute;
                left: 70px;
                transition: .5s ease-in-out;
            }
            &:hover {
                transform: translateX(15px);
            }
        }
    }
}