@import '../common/styles/sass/variables';

.projectsBlock {
    min-height: 100vh;
    position: relative;

    &::after {
        content: "";
        background: url('../assets/image/background.jpeg');
        background-size: cover;
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    .projectsContainer {
        flex-direction: column;
        justify-content: flex-start;
        .projects {
            width: 100%;
            display: flex;
            margin-top: 20px;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
        }
    }
}
